<!-- <router-outlet></router-outlet> -->
<div class="app d-flex">
    <!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
    <div class="app__left">
        <div class="app__header" >
            <h1>Covid-19 Tracker pour le {{today}} </h1>
            <form class="app__dropdown" [formGroup]="form">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" [formControl]="selectCountry"
                        (change)='onCountryChange($event)' [(ngModel)]="country">
                        <option value="worldwide">Monde Entier</option>
                        <option *ngFor="let country of countries" value="{{country.value}}">{{country.name}}
                        </option>

                    </select>
                </div>
            </form>
        </div>

        <div class="app__stats d-flex justify-content-between">
            <app-info-box [ngClass]="{'infoBox--selected infoBox--red': casesType == 'cases'}" (click)="changeCasesType('cases')" title="Cas répertoriés" cases={{prettyPrintStat(countryInfo?.todayCases)}} total={{prettyPrintStat(countryInfo?.cases)}}>
            </app-info-box>
            <app-info-box [class.infoBox--selected]="casesType == 'recovered'" (click)="changeCasesType('recovered')" title="Récupération" cases={{prettyPrintStat(countryInfo?.todayRecovered)}} total={{prettyPrintStat(countryInfo?.recovered)}}>
            </app-info-box>
            <app-info-box [ngClass]="{'infoBox--selected infoBox--red': casesType == 'deaths'}" (click)="changeCasesType('deaths')" title="Décès" cases={{prettyPrintStat(countryInfo?.todayDeaths)}} total={{prettyPrintStat(countryInfo?.deaths)}}></app-info-box>
        </div>

        <app-map [center]=mapCenter zoom={{mapZoom}} [countries]=mapCountries casesType={{casesType}}></app-map>
    </div>
    <div class="app__right">
        <div class="card">
            <div class="card-body">
                <h3>Cas par Pays</h3>
                <app-table [countries]=tableData></app-table>
                <h3 *ngIf="casesType=='cases'">Nouveaux cas répertoriés dans le monde</h3>
                <h3 *ngIf="casesType=='recovered'">Nouveaux cas dans le monde: Récuperation</h3>
                <h3 *ngIf="casesType=='deaths'">Nouveaux cas dans le monde: Décès</h3>
                <app-line-graph casesType={{casesType}}></app-line-graph>
            </div>
        </div>
    </div>
</div>