/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~leaflet/dist/leaflet.css";

body {
  background-color: #f5f6fa;
}


// style of the popup container
.info-flag {
  width: 100%;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: 1px solid black;
}

.info-name{
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}


app-info-box:nth-child(2){
  h2{
      color: lightgreen !important;
  }
}